<html>
    <head>
    	<meta charset="UTF-8">
    	<meta name="viewport" content="width-device-width, initial-scale-1.0">
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="post_list.css">
        <link rel="stylesheet" href="post_list.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    </head>
    <body>
    	<nav>
    		<div class="links">
    			<ul>
    				<li>Home</li>
    				<li>About</li>
    				<li>Blog</li>
    				<li>Contacts</li>
    			</ul>
    		</div>
    		<div class="accounts">
    			<i class = " fa fa-telegram"></i>
    			<i class = " fa fa-pinterest"></i>
    			<i class = " fa fa-instagram"></i>
    	</nav>
    	<section class="header">
    		<h1>Ayaz Blog</h1>
    		<h4>Ayazova Moldir, MCM 17BD010542</h4>
    	</section>
    	<hr>
    	<section class="content-container">
    		<div class="left-content">
    			<h2> The True Story of “Hidden Figures”</h2>
    			<div class="featured-article">
    				<img src="img1.jpg" width="1000px">
    				<p>There's a moment halfway into Hidden Figures when head NASA engineer Paul Stafford refuses the request of Katherine Johnson (Taraji P. Henson) to attend an editorial meeting about John Glenn's upcoming mission to become the first American to orbit the Earth. Stafford's response is dismissive—"There's no protocol for women attending." Johnson replies, "There's no protocol for a man circling Earth either, sir."</p>
    			</div>
    			<h3>"GET THE GIRL TO CHECK THE NUMBERS... IF SHE SAYS THE NUMBERS ARE GOOD, I'M READY TO GO."</h3>
    			<p>The film primarily focuses on John Glenn's 1962 trip around the globe and does add dramatic flourishes that are, well, Hollywood. However, most of the events in the movie are historically accurate. Johnson's main job in the lead-up and during the mission was to double-check and reverse engineer the newly-installed IBM 7090s trajectory calculations. As it shows, there were very tense moments during the flight that forced the mission to end earlier than expected. And John Glenn did request that Johnson specifically check and confirm trajectories and entry points that the IBM spat out (albeit, perhaps, not at the exact moment that the movie depicts). As Shetterly wrote in her book and explained in a September NPR interview, Glenn did not completely trust the computer. So, he asked the head engineers to "get the girl to check the numbers... If she says the numbers are good... I'm ready to go."</p>
    			<div class="another-article">
    				<h3>Why Didn't the Soviets Ever Make It to the Moon?</h3>
    				<img src="img2.jpg">
    				<p>The story of the Soviet N1 rocket and the wider lunar program in the USSR is still shrouded in mystery, especially compared to the Apollo program. To this day, historians debate how and why the pioneering Soviet space program suddenly fell behind in the race to the moon and how far behind it had been at the moment when Armstrong and Aldrin set foot on another world.</p>
    				<button class="btn read-more-btn">Read more</button>
    			</div>
    		</div>
    		<div class="right-content">
    			<div class="avatar-content">
    				<img src="avatar.jpg">
    				<p>Here you can read some parts of random articles, cause I am not writer at all and you are welcome</p>
    			</div>
    			<div class="search">
    				<h5>SEARCH</h5>
    				<input type="text" placeholder="LOOKING FOR?">
    				<button class="search-btn">GO</button>
    			</div>
    			<div class="topics">
    				<h5>TOPICS</h5>
    				<ul>
    					<li>NASA</li>
    					<li>Math</li>
    					<li>Art</li>
    					<li>KBTU</li>
    				</ul>
    			</div>

    		</div>
    	</section>
    	<footer>
    		
    	</footer>
    </body>
    </html>
